@model NDT.Domain.Models.Client
@{
    ViewData["Title"] = "ویرایش مشخصات کارفرما";
}

@*<h1>Edit</h1>

<h4>Course</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <div>@Html.DisplayFor(model => model.Id)</div>
            </div>
            <div class="form-group">
                <label asp-for="ClientName" class="control-label">نام کارفرما</label>
                <input asp-for="ClientName" class="form-control" />
                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CeoName" class="control-label">نام مدیر عامل</label>
                <input asp-for="CeoName" class="form-control" />
                <span asp-validation-for="CeoName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">آدرس</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CentralPhoneNo" class="control-label">تلفن دفتر مرکزی</label>
                <input asp-for="CentralPhoneNo" class="form-control" />
                <span asp-validation-for="CentralPhoneNo" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ShowClients">بازگشت</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
