@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lancar - Bootstrap Business Template</title>

    <!-- CSS -->
    @*<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">*@
    <link href="https://cdn.rawgit.com/rastikerdar/sahel-font/v1.0.0-alpha23/dist/font-face.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    @*<link href="/Fonts/Font-Face.css" rel="stylesheet" />*@
    @*<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">*@
    <link rel="stylesheet" href="/css/form-elements.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">

</head>

<body class="rtl">

    <!-- Loader -->
    <div class="loader">
        <div class="loader-img"></div>
    </div>

    <div class="top-content">

        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1>سامانه جامع تست‌های غیر مخرب</h1>
                        <div class="description">
                            <p>
                                شرکت مهندسی پرتو آزمون آذر
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                            <@*div class="form-top-left">
                                <h3>Login to our site</h3>
                                <p>Enter your username and password to log on:</p>
                            </div>*@
                            <div class="form-top-right">
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form  asp-controller="Account" asp-action="Login"  asp-route-returnUrl="@ViewData["returnUrl"]"  method="post" class="login-form">
                                <div class="form-group">
                                    <label class="sr-only" asp-for="UserName">Username</label>
                                    <input asp-for="UserName" type="text" dir="rtl"  placeholder="نام کاربری" class="form-username form-control" id="form-username">
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" asp-for="Password">Password</label>
                                    <input asp-for="Password" type="password" dir="rtl" placeholder="رمز عبور" class="form-password form-control" id="form-password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn">ورود</button>
                            </form>
                        </div>
                    </div>
                </div>
                @*<div class="row">
                        <div class="col-sm-6 col-sm-offset-3 social-login">
                            <h3>...or login with:</h3>
                            <div class="social-login-buttons">
                                <a class="btn btn-link-2" href="#">
                                    <i class="fa fa-facebook"></i> Facebook
                                </a>
                                <a class="btn btn-link-2" href="#">
                                    <i class="fa fa-twitter"></i> Twitter
                                </a>
                                <a class="btn btn-link-2" href="#">
                                    <i class="fa fa-google-plus"></i> Google Plus
                                </a>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>

    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="scroll-to-top">
                        <a href="#"><i class="fa fa-chevron-up"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7 footer-copyright">
                    &copy; Lancar Bootstrap Template by <a href="https://azmind.com">Azmind</a>.
                </div>
                <div class="col-sm-5 footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Javascript -->
    @*<script src="~/js/jquery-3.2.1.min.js"></script>
        <script src="~/js/jquery-migrate-3.0.0.min.js"></script>
        <script src="~/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.backstretch.min.js"></script>
        <script src="~/js/wow.min.js"></script>
        <script src="~/js/retina-1.1.0.min.js"></script>
        <script src="~/js/jquery.magnific-popup.min.js"></script>
        <script src="~/js/waypoints.min.js"></script>
        <script src="~/js/jquery.countTo.js"></script>
        <script src="~/js/masonry.pkgd.min.js"></script>
        <script src="~/js/scripts.js"></script>*@
    <!-- Javascript -->
    <script src="~/js/jquery-1.11.1.min.js"></script>
    @*<script src="~/bootstrap/js/bootstrap.min.js"></script>*@
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/jquery.backstretch.min.js"></script>
    <script src="~/js/scripts.js"></script>

    <!--[if lt IE 10]>
        <script src="assets/js/placeholder.js"></script>
    <![endif]-->
    <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 568px; width: 1400px; z-index: -999999; position: fixed;">
        <img src="~/img/backgrounds/slideback4.jpg" style="position: absolute; margin: 0px; padding: 0px; border: none; width:1400px; height: 568px; max-height: none; max-width: none; z-index: -999999; left: -29px; top: 0px;">
    </div>
</body>

</html>
