
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lancar - Bootstrap Business Template</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,700,700i">
    @*<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">*@
    <link href="~/lib/bootstrap/css/bootstrap-rtl.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/elegant-font/code/style.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/awesome-bootstrap-checkbox.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/media-queries.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="~/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/ico/apple-touch-icon-57-precomposed.png">

</head>

<body class="dark">

    <!-- Loader -->
    <div class="loader">
        <div class="loader-img"></div>
    </div>

    <!-- Top menu -->
    <nav class="navbar navbar-fixed-top navbar-no-bg" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Lancar - Bootstrap Business Template</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="top-navbar-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="portfolio.html">Work</a></li>
                    <li><a href="prices.html">Price</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Login page -->
    <div class="login-page">

        <!-- THE FORM'S CODE WILL BE HERE -->

        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 login-text wow fadeIn">
                    <h1>Login to our site</h1>
                    <p>Use the form below to login to our website if you have an account.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 login-box wow fadeInUp">

                    <div class="l-form-top">
                        <div class="l-form-top-left">
                            <h3>Sign in</h3>
                            <p>Enter your username and password to log on:</p>
                        </div>
                        <div class="l-form-top-right">
                            <i class="fa fa-lock"></i>
                        </div>
                    </div>
                    <div class="l-form-bottom">
                        <form role="form" action="" method="post">
                            <div class="form-group">
                                <label class="sr-only" for="l-form-username">Username</label>
                                <input type="text" name="l-form-username" placeholder="Username..." class="l-form-username form-control" id="l-form-username">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="l-form-password">Password</label>
                                <input type="password" name="l-form-password" placeholder="Password..." class="l-form-password form-control" id="l-form-password">
                            </div>
                            <button type="submit" class="btn">Sign in!</button>
                            <div class="checkbox">
                                <input type="checkbox" id="remember-me" class="styled">
                                <label for="remember-me">Remember me</label>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 login-social">
                    <h3>...or login with:</h3>
                    <div class="login-social-buttons">
                        <a class="btn btn-link-1" href="#">
                            <i class="fa fa-facebook"></i> Facebook
                        </a>
                        <a class="btn btn-link-1" href="#">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        <a class="btn btn-link-1" href="#">
                            <i class="fa fa-google"></i> Google
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="scroll-to-top">
                        <a href="#"><i class="fa fa-chevron-up"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7 footer-copyright">
                    &copy; Lancar Bootstrap Template by <a href="https://azmind.com">Azmind</a>.
                </div>
                <div class="col-sm-5 footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Javascript -->
    @*<script src="~/js/jquery-3.2.1.min.js"></script>
        <script src="~/js/jquery-migrate-3.0.0.min.js"></script>
        <script src="~/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.backstretch.min.js"></script>
        <script src="~/js/wow.min.js"></script>
        <script src="~/js/retina-1.1.0.min.js"></script>
        <script src="~/js/jquery.magnific-popup.min.js"></script>
        <script src="~/js/waypoints.min.js"></script>
        <script src="~/js/jquery.countTo.js"></script>
        <script src="~/js/masonry.pkgd.min.js"></script>
        <script src="~/js/scripts.js"></script>*@
    <!-- Javascript -->
    <script src="~/js/jquery-1.11.1.min.js"></script>
    @*<script src="~/bootstrap/js/bootstrap.min.js"></script>*@
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/jquery.backstretch.min.js"></script>
    <script src="~/js/scripts.js"></script>

    <!--[if lt IE 10]>
        <script src="assets/js/placeholder.js"></script>
    <![endif]-->

</body>

</html>
